kfp==1.8.13
kfp-server-api==1.8.5
google-cloud-aiplatform==1.11.0
google-cloud-storage==2.3.0
google-cloud-bigquery==3.0.1
google-auth==2.6.6
tensorflow==2.8.0
pandas==1.4.2
numpy==1.22.3
scikit-learn==1.0.2
xgboost==1.5.2
prophet==1.0
pyarrow==7.0.0
matplotlib==3.5.1
fastapi==0.75.2
uvicorn==0.17.6
pydantic==1.9.0
pytest==7.1.1
db-dtypes==1.0.0
